* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: #ffffff;
}

body {
    background-color: #2d2d2d;
    font-family: sans-serif;
}


/* header start */

header {
    background-size: cover;
    height: 100vmin;
    padding: 0vmin 17vmin;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vmin;
    background: linear-gradient(to top, black, transparent, transparent, black), linear-gradient(to left, black, transparent, transparent, black), url('image/img_2.jpg');
    background-size: cover;
    background-position: center;
    filter: blur(1px);
    z-index: -1;
}

#logo{
    height: 7vmin;
 }

.heading {
    color: red;
    font-size: 4vmin;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 15vmin;
}

nav h1 {
    font-size: 5vmin;
}

select,
.signIn {
    font-size: 17px;
    font-weight: 500;
    border-radius: 5px;
}

select {
    background: transparent;
    padding: 4px 10px;
}

.signIn {
    background-color: red;
    border: none;
    padding: 5px 10px;
}

.headerCom1 {
    display: grid;
    justify-content: center;
    text-align: center;
    margin: 22vmin 0;
    gap: 15%;
}

.heading1 {
    font-size: 6.6vmin;
    font-weight: 800;
    opacity: 700%;
}

.para1 {
    font-size: 3.8vmin;
    opacity: 700%;
}

.para2 {
    font-size: 3.4vmin;
    opacity: 700%;
}


.inputBox {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5vmin;
    background-size: contain;
}


.input {
    border-radius: 5px;
    background: rgba(56, 56, 56, 0.773);
    border: #8b8b8b solid 0.3px;
    height: 5vmin;
    width: 55vmin;
    padding: 10px;
    margin: 5px;
}

::placeholder {
    color: #ffffff;
    font-size: 2.5vmin;
    text-align: left;
}

.submit {
    background-color: red;
    margin: 5px;
    padding: 5px 15px;
    border: none;
    font-size: 4vmin;
    height: 8vmin;
    border-radius: 5px;
}

/* header end */

/* section1 start */

.section_1,
.section_2,
.section_3,
.section_4 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vmin;
    margin-top: 7px;
    padding-left: 10vmin;
    padding-right: 10vmin;
    background-color: rgb(0, 0, 0);
}

.sec1Com1,
.sec1Com2 {
    width: 50%;
}

.frame{
   height: 70vmin;
}

.sec1com21 {
    max-width: 100%;
    max-height: 100%;
}


.vidFrame1 {
    position: relative;
    top: 19vmin;
}

.video1 {
    max-height: 32.8vmin;
    max-width: 62vmin;
    position: relative;
    bottom: 31vmin;
    left: 11vmin;
    z-index: +1;
}

.vidFrame2 {
    position: relative;
    top: 19vmin;
}

.video2 {
    max-height: 90vmin;
    max-width: 50vmin;
    position: relative;
    bottom: 43vmin;
    left: 22vmin;
}

.heading2,
.para3 {
    text-align: left;
    margin: 5vmin 0;
}


.heading2 {
    font-size: 6.2vmin;
    font-weight: 800;
}

.para3 {
    font-size: 3vmin;
}

.section_5 {
    background-color: black;
    padding: 10px 150px;
    margin-top: 7px;
    margin-bottom: 7px;
    padding-bottom: 6vmin;
}

.sec5_1,
.sec5_2,
.sec5_3,
.sec5_4,
.sec5_5,
.sec5_6 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 6vmin;
    background-color: #2d2d2d;
    padding: 20px;
    margin: 1.5vmin;
    font-size: 3.5vmin;
}

.sec5h2 {
    font-size: 50px;
    text-align: center;
    margin: 3.5vmin;
}

.para4 {
    font-size: 3.5vmin;
    text-align: center;
    margin: 6vmin;
}

/* section end */

/* footer start */

footer {
    background-color: black;
    padding: 30px 60px;
    line-height: 30px;
}

footer div {
    font-size: 2.3vmin;
}

footer a {
    text-decoration: underline;
}

.foot2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footcom1,
.footcom2,
.footcom3,
.footcom4 {
    display: grid;
    gap: 2.5vmin;
}

.foot3 select {
    margin-top: 2vmin;
    margin-bottom: 2vmin;
}

/* footer end */

@media(max-width:2500px) {
    header {
        padding: 0vmin 25vmin;
    }

    .submit {
        margin: 5px;
        padding: 5px 15px;
        font-size: 3.5vmin;
        border-radius: 5px;
    }

    /* header end */

}



@media(max-width:1250px) {
    header {
        padding: 0vmin 5vmin;
    }

    .heading1 {
        font-size: 4vmin;
    }


    .para1 {
        font-size: 2.9vmin;
    }


    .para2 {
        font-size: 2.7vmin;
    }

    /* header end */


}


@media(max-width:850px) {
    .heading2 {
        font-size: 4vmin;
    }

     .input {
        height: 4.5vmin;
        width: 45vmin;
        padding: 8px;
        margin: 4px;
    }
    
    ::placeholder {
        font-size: 2.5vmin;
    }

    .submit {
        margin: 5px;
        padding: 5px 7px;
        font-size: 3vmin;
        height: 9vmin;
        border-radius: 5px;
    }

    .lang{
    font-size: 3vmin;
   }

    /* header end */

    /* section start */

    .section_1,
    .section_2,
    .section_3,
    .section_4 {
        display: grid;
        min-height: auto;
        padding: 4.5rem 0;
        justify-content: center;
        text-align: center;
    }

    .sec1Com1,
    .sec1Com2 {
        width: 100%;
        margin: 0;
    }

    .sec1Com1 h2, .sec1Com1 p{
text-align: center;
    }

    .sec1Com2{
       max-height: 50vmin;
       position: relative;
       bottom: 55%;
   }

   .frame{
       height: 50vmin;
       position: relative;
       top: 15vmin;
   }

    .para3 {
        font-size: 2vmin;
    }

 
   .vidFrame1 img, .vidFrame2 img{
       height: 50vmin;
   }
  
   .video1 {
       max-height: 30vmin;
       max-width: 67vmin;
       position: relative;
       bottom: 22vmin;
       left: 8vmin;
   }

  
   .video2 {
       max-height: 45vmin;
       max-width: 39vmin;
       position: relative;
       bottom: 27vmin;
       left: 14vmin;
   }


   /* section5 */

   .sec5h2{
       font-size: 5.2vmin;
   }
   .section_5{
    padding: 15px 12px;

   }

   /* footer */

   footer{
    padding: 10px 20px;
   }
}


@media(max-width:550px) {
    header {
        padding: 0vmin 5vmin;
    }

    .video1 {
        max-height: 26vmin;
        max-width: 52.5vmin;
        position: relative;
        bottom: 21vmin;
        left: -0.5vmin;
        z-index: +1;
    }

    .video2 {
        max-height: 24vmin;
        max-width: 50.5vmin;
        position: relative;
        bottom: 25vmin;
        left: -0.5vmin;
    }

    /* header end */
}
